Repository jump-dev/Hypatia.jl, pull requests merged in 2020-09, with the labels that each got.

#590 test Travis
  .travis.yml
  Project.toml
  examples/muconvexity/JuMP.jl
  examples/polymin/JuMP_test.jl
  examples/polymin/data.jl
  examples/polymin/native_test.jl
  examples/stabilitynumber/JuMP.jl
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/MathOptInterface/cones.jl
  src/MathOptInterface/wrapper.jl
  src/ModelUtilities/ModelUtilities.jl
  src/ModelUtilities/domains.jl
  src/ModelUtilities/interpolate.jl
  src/ModelUtilities/polynomials.jl
  src/ModelUtilities/semialgebraicsets.jl
  src/Solvers/Solvers.jl
  src/Solvers/process.jl
  src/Solvers/steppers/predorcorr.jl
  test/barrier.jl
  test/modelutilities.jl
  test/moi.jl
  test/moicones.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runalltests.jl
  test/runbarriertests.jl
  test/runcblibtests.jl
  test/runexamplestests.jl
  test/runhsltests.jl
  test/runmodelutilitiestests.jl
  test/runmoitests.jl
  test/runnativetests.jl
  test/runpardisotests.jl
  test/runtests.jl
Labels: tests

#591 WIP: fix native tests and examples tests failures
  Project.toml
  examples/common_JuMP.jl
  examples/common_native.jl
  examples/conditionnum/JuMP_test.jl
  examples/contraction/JuMP.jl
  examples/contraction/JuMP_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_test.jl
  src/Cones/Cones.jl
  src/Cones/linmatrixineq.jl
  src/MathOptInterface/cones.jl
  src/MathOptInterface/wrapper.jl
  src/Solvers/Solvers.jl
  src/Solvers/linesearch.jl
  src/Solvers/steppers/heurcomb.jl
  src/Solvers/steppers/predorcorr.jl
  src/Solvers/systemsolvers/naive.jl
  src/Solvers/systemsolvers/naiveelim.jl
  src/linearalgebra/sparse.jl
  test/barrier.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runbarriertests.jl
  test/runexamplestests.jl
  test/runnativetests.jl
  test/runtests.jl
Labels: MOI, cleanup, examples, tests

#585 update HSL and Pardiso tests
  src/linearalgebra/Pardiso.jl
  test/runhsltests.jl
  test/runpardisotests.jl
Labels: cleanup, tests

#592 add polynomial l1 norm cone
  src/Cones/Cones.jl
  src/Cones/wsosinterpepinormone.jl
  src/MathOptInterface/cones.jl
  test/barrier.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runbarriertests.jl
Labels: interface
