Repository jump-dev/Hypatia.jl, pull requests merged in 2020-12, with the labels that each got.

#627 cleanup examples and process script
  .github/workflows/ci.yml
  examples/common.jl
  examples/densityest/JuMP.jl
  examples/densityest/JuMP_benchmark.jl
  examples/densityest/JuMP_test.jl
  examples/matrixregression/JuMP.jl
  examples/matrixregression/JuMP_benchmark.jl
  examples/matrixregression/JuMP_test.jl
  examples/matrixregression/native.jl
  examples/processbenchmarks.jl
  src/Cones/hypoperlog.jl
  test/runexamplestests.jl
Labels: benchmarks, cleanup, examples

#629 fix type issues with interpolation functions
  src/ModelUtilities/interpolate.jl
Labels: bug

#630 rename predorcent stepper file
  src/Solvers/steppers/common.jl
  src/Solvers/steppers/predorcent.jl
Labels: cleanup

#631 improve predorcent stepper
  src/Solvers/steppers/common.jl
  src/Solvers/steppers/heurcomb.jl
  src/Solvers/steppers/predorcent.jl
  test/runexamplestests.jl
Labels: bug, speed

#574 add matrix relative entropy cone
  src/Cones/Cones.jl
  src/Cones/episumperentropy.jl
  src/Cones/epitracerelentropytri.jl
  src/MathOptInterface/cones.jl
  test/barrier.jl
  test/moicones.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runbarriertests.jl
Labels: interface, tests

#633 improve predorcent stepper and use curve search
  examples/common_JuMP.jl
  examples/densityest/native.jl
  examples/matrixcompletion/JuMP_benchmark.jl
  src/Cones/Cones.jl
  src/Cones/epinorminf.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitracerelentropytri.jl
  src/Cones/wsosinterpepinormone.jl
  src/MathOptInterface/cones.jl
  src/Solvers/Solvers.jl
  src/Solvers/linesearch.jl
  src/Solvers/point.jl
  src/Solvers/process.jl
  src/Solvers/search.jl
  src/Solvers/steppers/combined.jl
  src/Solvers/steppers/common.jl
  src/Solvers/steppers/heurcomb.jl
  src/Solvers/steppers/predorcent.jl
  src/Solvers/systemsolvers/common.jl
  src/Solvers/systemsolvers/naive.jl
  src/Solvers/systemsolvers/naiveelim.jl
  src/Solvers/systemsolvers/qrchol.jl
  test/barrier.jl
  test/moi.jl
  test/moicones.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runbarriertests.jl
  test/runexamplestests.jl
  test/runmoitests.jl
  test/runnativetests.jl
Labels: cleanup, interface, speed
