Repository jump-dev/Hypatia.jl, pull requests merged in 2020-11, with the labels that each got.

#618 remove some allocations in wsosl2 corrector
  src/Cones/wsosinterpepinormeucl.jl
Labels: cleanup, memory, speed

#619 add corrector for WSOS L1 cone
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
Labels: numerics, speed

#609 add postprocessing scripts, various cone and example improvements
  examples/centralpolymat/JuMP_test.jl
  examples/common.jl
  examples/common_JuMP.jl
  examples/common_native.jl
  examples/contraction/JuMP_test.jl
  examples/densityest/JuMP_benchmark.jl
  examples/densityest/JuMP_test.jl
  examples/expdesign/JuMP_benchmark.jl
  examples/expdesign/JuMP_test.jl
  examples/lotkavolterra/JuMP_test.jl
  examples/matrixcompletion/JuMP.jl
  examples/matrixcompletion/JuMP_benchmark.jl
  examples/matrixcompletion/JuMP_test.jl
  examples/matrixquadratic/JuMP_benchmark.jl
  examples/matrixregression/JuMP_benchmark.jl
  examples/matrixregression/JuMP_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/muconvexity/JuMP_test.jl
  examples/nearestpsd/JuMP_benchmark.jl
  examples/polymin/JuMP_benchmark.jl
  examples/portfolio/JuMP_benchmark.jl
  examples/portfolio/JuMP_test.jl
  examples/processbenchmarks.jl
  examples/regionofattr/JuMP_test.jl
  examples/robustgeomprog/JuMP_test.jl
  examples/runbenchmarks.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_benchmark.jl
  examples/shapeconregr/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
  examples/spawn.jl
  src/Cones/Cones.jl
  src/Cones/epipersquare.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hyporootdettri.jl
  src/Cones/possemideftri.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/Solvers/Solvers.jl
  src/Solvers/systemsolvers/qrchol.jl
  src/linearalgebra/dense.jl
  test/runexamplestests.jl
Labels: benchmarks

#620 improve benchmark processing
  examples/polymin/JuMP_benchmark.jl
  examples/processbenchmarks.jl
  examples/shapeconregr/JuMP_benchmark.jl
Labels: benchmarks

#617 add benchmark problems for more complicated WSOS cones
  examples/polynorm/JuMP.jl
  examples/polynorm/JuMP_benchmark.jl
  examples/polynorm/JuMP_test.jl
  examples/processbenchmarks.jl
  examples/randompolymat/JuMP.jl
  examples/randompolymat/JuMP_benchmark.jl
  examples/randompolymat/JuMP_test.jl
  examples/runbenchmarks.jl
  test/runexamplestests.jl
Labels: benchmarks, examples, tests

#621 set appropriate defaults for sparse vs dense MOI models
  Project.toml
  examples/runbenchmarks.jl
  src/MathOptInterface/wrapper.jl
  src/Solvers/Solvers.jl
  src/Solvers/process.jl
  test/moi.jl
  test/runmoitests.jl
Labels: MOI, benchmarks, interface, memory, numerics, speed

#622 CI: try julia release and nightly
  .travis.yml
  test/nativeinstances.jl
Labels: tests

#623 allow getting nu in postprocessing
  examples/processbenchmarks.jl
Labels: benchmarks

#624 update processbenchmarks for DataFrames changes
  examples/processbenchmarks.jl
Labels: benchmarks
