Repository jump-dev/Hypatia.jl, pull requests merged in 2021-05, with the labels that each got.

#687 add two more QRE cone examples
  examples/nearestcorrelation/JuMP.jl
  examples/nearestcorrelation/JuMP_test.jl
  examples/relentrentanglement/JuMP.jl
  examples/relentrentanglement/JuMP_test.jl
  src/Cones/epitrrelentropytri.jl
  test/runexamplestests.jl
Labels: examples

#686 WIP: add more cone examples
  examples/classicalquantum/JuMP.jl
  examples/classicalquantum/JuMP_test.jl
  examples/entanglementassisted/JuMP.jl
  examples/entanglementassisted/JuMP_test.jl
  test/runexamplestests.jl
Labels: examples, tests

#689 add missing examples to stepper benchmarks
  benchmarks/stepper/run.jl
  examples/CBLIB/JuMP_test.jl
Labels: benchmarks, tests

#690 add some separable spectral cone examples
  benchmarks/stepper/run.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_test.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_test.jl
  src/Cones/epipersepspectral/sepspectralfun.jl
  test/nativeinstances.jl
  test/runconetests.jl
  test/runexamplestests.jl
Labels: benchmarks, examples, tests

#692 make minor changes to run benchmarks
  benchmarks/stepper/run.jl
  examples/densityest/native_test.jl
  examples/doptimaldesign/native_test.jl
  examples/envelope/native_test.jl
  examples/matrixregression/native_test.jl
  examples/polymin/native_test.jl
  examples/portfolio/native_test.jl
Labels: benchmarks, cleanup

#693 run nightly and fix strange stack overflow error, only use cholmod sparsepsd on recent julia, update portfolio example
  .github/workflows/ci.yml
  benchmarks/natvsext/run.jl
  examples/contraction/JuMP_test.jl
  examples/portfolio/JuMP.jl
  examples/portfolio/JuMP_benchmark.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/MathOptInterface/cones.jl
  src/MathOptInterface/wrapper.jl
Labels: benchmarks, bug, cleanup

#694 fix extender names
  benchmarks/natvsext/analyze.jl
  benchmarks/setup.jl
  benchmarks/spawn.jl
  examples/centralpolymat/JuMP_test.jl
  examples/common_JuMP.jl
  examples/contraction/JuMP_test.jl
  examples/densityest/JuMP_benchmark.jl
  examples/densityest/JuMP_test.jl
  examples/doptimaldesign/JuMP_benchmark.jl
  examples/doptimaldesign/JuMP_test.jl
  examples/lotkavolterra/JuMP_test.jl
  examples/matrixcompletion/JuMP_benchmark.jl
  examples/matrixcompletion/JuMP_test.jl
  examples/matrixquadratic/JuMP_benchmark.jl
  examples/matrixregression/JuMP_benchmark.jl
  examples/matrixregression/JuMP_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/muconvexity/JuMP_test.jl
  examples/nearestpsd/JuMP_benchmark.jl
  examples/polymin/JuMP_benchmark.jl
  examples/portfolio/JuMP_benchmark.jl
  examples/portfolio/JuMP_test.jl
  examples/regionofattr/JuMP_test.jl
  examples/robustgeomprog/JuMP_test.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_benchmark.jl
  examples/shapeconregr/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
Labels: benchmarks

#695 don't add redundant constraints in example
  examples/maxvolume/JuMP.jl
  examples/maxvolume/native.jl
  examples/portfolio/JuMP.jl
  examples/portfolio/JuMP_test.jl
  examples/portfolio/native.jl
  examples/portfolio/native_test.jl
Labels: examples

#697 WIP: clean up cones and linear algebra
  examples/common.jl
  examples/polymin/native.jl
  src/Cones/Cones.jl
  src/Cones/arrayutilities.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/sepspectralfun.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/MathOptInterface/cones.jl
  src/Solvers/Solvers.jl
  src/Solvers/process.jl
  src/Solvers/search.jl
  src/Solvers/systemsolvers/naive.jl
  src/Solvers/systemsolvers/naiveelim.jl
  src/Solvers/systemsolvers/qrchol.jl
  src/Solvers/systemsolvers/symindef.jl
  src/linearalgebra/HSL.jl
  src/linearalgebra/Pardiso.jl
  src/linearalgebra/dense.jl
  src/linearalgebra/sparse.jl
  test/cone.jl
  test/moi.jl
  test/nativeinstances.jl
  test/runtests.jl
Labels: cleanup

#698 reduce allocations for (inv) hessians, more clean up
  benchmarks/natvsext/analyze.jl
  benchmarks/spawn.jl
  examples/doptimaldesign/JuMP.jl
  examples/doptimaldesign/native.jl
  examples/maxvolume/native.jl
  examples/nearestpolymat/JuMP.jl
  examples/sparselmi/JuMP.jl
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/MathOptInterface/wrapper.jl
  src/Solvers/process.jl
  src/Solvers/systemsolvers/common.jl
  src/Solvers/systemsolvers/naiveelim.jl
  src/Solvers/systemsolvers/qrchol.jl
  src/Solvers/systemsolvers/symindef.jl
  test/nativeinstances.jl
Labels: cleanup, interface, memory, speed

#699 clean up polynomial interpolations and polymin
  LICENSE.md
  Project.toml
  examples/common.jl
  examples/contraction/JuMP.jl
  examples/densityest/JuMP.jl
  examples/densityest/native.jl
  examples/doptimaldesign/native.jl
  examples/envelope/JuMP.jl
  examples/envelope/native.jl
  examples/matrixcompletion/native.jl
  examples/muconvexity/JuMP.jl
  examples/nearestpolymat/JuMP.jl
  examples/normconepoly/JuMP.jl
  examples/polymin/JuMP.jl
  examples/polymin/JuMP_test.jl
  examples/polymin/data.jl
  examples/polymin/data_complex.jl
  examples/polymin/data_real.jl
  examples/polymin/native.jl
  examples/polymin/native_test.jl
  examples/polynorm/JuMP.jl
  examples/regionofattr/JuMP.jl
  examples/semidefinitepoly/JuMP.jl
  examples/shapeconregr/JuMP.jl
  examples/sparsepca/native.jl
  examples/stabilitynumber/JuMP.jl
  src/Cones/arrayutilities.jl
  src/Hypatia.jl
  src/MathOptInterface/cones.jl
  src/ModelUtilities/ModelUtilities.jl
  src/ModelUtilities/domains.jl
  src/PolyUtils/PolyUtils.jl
  src/PolyUtils/complex.jl
  src/PolyUtils/realdomains.jl
  src/PolyUtils/realinterp.jl
  test/cone.jl
  test/modelutilities.jl
  test/nativeinstances.jl
  test/polyutils.jl
  test/runmoitests.jl
  test/runpolyutilstests.jl
  test/runtests.jl
Labels: cleanup, examples, interface

#700 WIP: style fixes and coverage improvements
  examples/densityest/JuMP.jl
  examples/densityest/native.jl
  examples/envelope/JuMP.jl
  examples/envelope/native.jl
  examples/nearestpolymat/JuMP.jl
  examples/polynorm/JuMP.jl
  examples/regionofattr/JuMP.jl
  examples/shapeconregr/JuMP.jl
  src/Cones/Cones.jl
  src/Cones/arrayutilities.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/Hypatia.jl
  src/MathOptInterface/wrapper.jl
  src/PolyUtils/complex.jl
  src/PolyUtils/realinterp.jl
  src/Solvers/Solvers.jl
  src/Solvers/systemsolvers/common.jl
  src/Solvers/systemsolvers/qrchol.jl
  test/cone.jl
  test/nativeinstances.jl
  test/polyutils.jl
  test/runpolyutilstests.jl
Labels: cleanup

#701 add comments and fix bug for TOA without curve
  src/Solvers/search.jl
  src/Solvers/steppers/combined.jl
  src/Solvers/steppers/predorcent.jl
Labels: bug, cleanup

#703 rename correction to adjustment/dder3 for clarity
  benchmarks/stepper/run.jl
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/sepspectralfun.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/Solvers/search.jl
  src/Solvers/steppers/combined.jl
  src/Solvers/steppers/common.jl
  src/Solvers/steppers/predorcent.jl
  test/cone.jl
  test/runnativetests.jl
Labels: cleanup

#704 clean up example instances
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP_test.jl
  examples/conditionnum/JuMP_test.jl
  examples/contraction/JuMP_test.jl
  examples/covarianceest/JuMP_test.jl
  examples/densityest/JuMP_test.jl
  examples/densityest/native_test.jl
  examples/doptimaldesign/JuMP_test.jl
  examples/doptimaldesign/native_test.jl
  examples/envelope/JuMP_test.jl
  examples/envelope/native_test.jl
  examples/experimentdesign/JuMP_test.jl
  examples/linearopt/native_test.jl
  examples/lotkavolterra/JuMP_test.jl
  examples/lyapunovstability/JuMP_test.jl
  examples/matrixcompletion/JuMP_test.jl
  examples/matrixcompletion/native_test.jl
  examples/matrixquadratic/JuMP_benchmark.jl
  examples/matrixquadratic/JuMP_test.jl
  examples/matrixregression/JuMP_test.jl
  examples/matrixregression/native_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/maxvolume/native_test.jl
  examples/muconvexity/JuMP_test.jl
  examples/nearestcorrelation/JuMP_test.jl
  examples/nearestpolymat/JuMP_test.jl
  examples/nearestpsd/JuMP_test.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/normconepoly/JuMP_test.jl
  examples/polymin/JuMP_test.jl
  examples/polymin/native_test.jl
  examples/polynorm/JuMP_test.jl
  examples/portfolio/JuMP_test.jl
  examples/portfolio/native_test.jl
  examples/regionofattr/JuMP_test.jl
  examples/relentrentanglement/JuMP_test.jl
  examples/robustgeomprog/JuMP_test.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
  examples/sparselmi/JuMP_test.jl
  examples/sparsepca/native_test.jl
  examples/stabilitynumber/JuMP_test.jl
  test/runexamplestests.jl
Labels: cleanup, examples

#705 WIP: do some matrix factorizations/inverses in-place
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hyporootdettri.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Hypatia.jl
  src/PolyUtils/realinterp.jl
  src/linearalgebra/dense.jl
Labels: cleanup, memory, speed

#706 add various instances to sparseLMI and fix rosenbrock data
  examples/polymin/data_real.jl
  examples/sparselmi/JuMP_test.jl
Labels: benchmarks, examples, tests

#707 WIP: add docs using Documenter
  .github/workflows/DocCleanup.yml
  .github/workflows/Documentation.yml
  Project.toml
  README.md
  docs/.gitignore
  docs/Project.toml
  docs/make.jl
  docs/src/index.md
  examples/muconvexity/JuMP.jl
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Hypatia.jl
  src/MathOptInterface/wrapper.jl
  src/Models/Models.jl
  src/PolyUtils/PolyUtils.jl
  src/PolyUtils/realdomains.jl
  src/PolyUtils/realinterp.jl
  src/Solvers/Solvers.jl
  src/linearalgebra/dense.jl
Labels: cleanup, docs

#709 add to docs and edit readme
  README.md
  docs/make.jl
  docs/src/api.md
  docs/src/index.md
  src/Models/Models.jl
  src/Solvers/steppers/combined.jl
Labels: docs

#711 more docs
  README.md
  docs/src/index.md
  examples/contraction/JuMP.jl
  examples/covarianceest/JuMP.jl
  examples/doptimaldesign/native.jl
  examples/entanglementassisted/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/matrixcompletion/native.jl
  examples/matrixregression/native.jl
  examples/muconvexity/JuMP.jl
  examples/nearestcorrelation/JuMP.jl
  examples/nearestpolymat/JuMP.jl
  examples/polymin/native.jl
  examples/polynorm/JuMP.jl
  examples/relentrentanglement/JuMP.jl
  examples/semidefinitepoly/JuMP.jl
  examples/shapeconregr/JuMP.jl
  examples/sparsepca/native.jl
  examples/stabilitynumber/JuMP.jl
  src/Cones/Cones.jl
  src/Cones/arrayutilities.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/sepspectralfun.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/MathOptInterface/cones.jl
  src/PolyUtils/complex.jl
  src/PolyUtils/realdomains.jl
  src/PolyUtils/realinterp.jl
  src/Solvers/Solvers.jl
  src/Solvers/systemsolvers/qrchol.jl
  src/linearalgebra/dense.jl
  test/cone.jl
  test/nativeinstances.jl
  test/polyutils.jl
  test/runconetests.jl
Labels: cleanup, docs

#712 update docs structure and readme
  README.md
  docs/make.jl
  docs/src/api.md
  docs/src/index.md
  docs/src/modeling.md
  docs/src/solving.md
  examples/experimentdesign/JuMP.jl
Labels: cleanup, docs

#713 improve docs and add docstrings
  README.md
  benchmarks/stepper/run.jl
  docs/make.jl
  docs/src/api.md
  docs/src/api/cones.md
  docs/src/api/hypatia.md
  docs/src/api/models.md
  docs/src/api/polyutils.md
  docs/src/api/solvers.md
  docs/src/cones.md
  docs/src/examples.md
  docs/src/index.md
  docs/src/modeling.md
  docs/src/scripts.md
  docs/src/solving.md
  examples/convexityparameter/JuMP.jl
  examples/convexityparameter/JuMP_test.jl
  examples/covarianceest/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/polyenvelope/JuMP.jl
  examples/polyenvelope/JuMP_test.jl
  examples/polyenvelope/native.jl
  examples/polyenvelope/native_test.jl
  src/Cones/Cones.jl
  src/Cones/arrayutilities.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/MathOptInterface/cones.jl
  src/MathOptInterface/wrapper.jl
  src/Solvers/Solvers.jl
  test/moicones.jl
  test/runexamplestests.jl
Labels: cleanup, docs, examples

#715 improve scripts, put examples in a module, check for possible duplicate instances
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  benchmarks/natvsext/spawn.jl
  benchmarks/stepper/analyze.jl
  benchmarks/stepper/run.jl
  examples/Examples.jl
  examples/common.jl
  examples/common_JuMP.jl
  examples/common_native.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_test.jl
  examples/densityest/JuMP.jl
  examples/densityest/native.jl
  examples/experimentdesign/JuMP.jl
  examples/experimentdesign/JuMP_test.jl
  examples/matrixregression/JuMP.jl
  examples/matrixregression/native.jl
  examples/polymin/JuMP.jl
  examples/polymin/native.jl
  examples/semidefinitepoly/JuMP.jl
  examples/setup.jl
  examples/shapeconregr/JuMP.jl
  test/runexamplestests.jl
Labels: cleanup, examples, interface, scripts, tests

#716 WIP: speed up some oracles
  src/Cones/arrayutilities.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  test/cone.jl
Labels: cleanup, memory, numerics, speed

#717 add more comments in analysis script
  benchmarks/stepper/analyze.jl
Labels: benchmarks, cleanup, info

#714 WIP: rename and refactor geomean-like cones
  src/Cones/hypogeomean.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
Labels: dependencies, numerics, speed

#719 add example with powermean cone
  docs/src/examples.md
  examples/Examples.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/discretemaxlikelihood/JuMP_test.jl
Labels: benchmarks, docs, examples, tests

#720 clean up geomean, use ordereddict to run examples
  examples/CBLIB/JuMP_test.jl
  examples/Examples.jl
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP_test.jl
  examples/conditionnum/JuMP_test.jl
  examples/contraction/JuMP_test.jl
  examples/convexityparameter/JuMP_test.jl
  examples/covarianceest/JuMP_test.jl
  examples/densityest/JuMP_benchmark.jl
  examples/densityest/JuMP_test.jl
  examples/densityest/native_test.jl
  examples/discretemaxlikelihood/JuMP_test.jl
  examples/doptimaldesign/JuMP_benchmark.jl
  examples/doptimaldesign/JuMP_test.jl
  examples/doptimaldesign/native_test.jl
  examples/entanglementassisted/JuMP_test.jl
  examples/experimentdesign/JuMP_test.jl
  examples/linearopt/native_test.jl
  examples/lotkavolterra/JuMP_test.jl
  examples/lyapunovstability/JuMP_test.jl
  examples/matrixcompletion/JuMP_benchmark.jl
  examples/matrixcompletion/JuMP_test.jl
  examples/matrixcompletion/native_test.jl
  examples/matrixquadratic/JuMP_test.jl
  examples/matrixregression/JuMP_benchmark.jl
  examples/matrixregression/JuMP_test.jl
  examples/matrixregression/native_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/maxvolume/native_test.jl
  examples/nearestcorrelation/JuMP_test.jl
  examples/nearestpolymat/JuMP_benchmark.jl
  examples/nearestpolymat/JuMP_test.jl
  examples/nearestpsd/JuMP_benchmark.jl
  examples/nearestpsd/JuMP_test.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/normconepoly/JuMP_test.jl
  examples/polyenvelope/JuMP_test.jl
  examples/polyenvelope/native_test.jl
  examples/polymin/JuMP_benchmark.jl
  examples/polymin/JuMP_test.jl
  examples/polymin/native_test.jl
  examples/polynorm/JuMP_benchmark.jl
  examples/polynorm/JuMP_test.jl
  examples/portfolio/JuMP_benchmark.jl
  examples/portfolio/JuMP_test.jl
  examples/portfolio/native_test.jl
  examples/regionofattr/JuMP_test.jl
  examples/relentrentanglement/JuMP_test.jl
  examples/robustgeomprog/JuMP_test.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_benchmark.jl
  examples/shapeconregr/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
  examples/sparselmi/JuMP_test.jl
  examples/sparsepca/native_test.jl
  examples/stabilitynumber/JuMP_test.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/hypogeomean.jl
  src/Cones/possemideftrisparse/cholmodimpl.jl
Labels: cleanup, examples, numerics, speed

#721 make minor edits to example descriptions
  docs/src/examples.md
Labels: docs

#722 simplify directions for kappa part
  src/Solvers/steppers/combined.jl
  src/Solvers/steppers/common.jl
  src/Solvers/steppers/predorcent.jl
  src/Solvers/systemsolvers/common.jl
  src/Solvers/systemsolvers/naive.jl
  src/Solvers/systemsolvers/naiveelim.jl
Labels: cleanup

#723 WIP: refactor terms in some oracles
  examples/common_JuMP.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/possemideftri.jl
  src/Cones/wsosinterpnonnegative.jl
  src/MathOptInterface/cones.jl
  test/cone.jl
  test/moicones.jl
  test/nativeinstances.jl
Labels: cleanup, numerics, speed

#724 describe cones interface and scripts more in docs
  docs/make.jl
  docs/src/api/cones.md
  docs/src/benchmarks.md
  docs/src/cones.md
  docs/src/scripts.md
Labels: docs

#725 fix data not being added into ordereddict
  examples/Examples.jl
Labels: benchmarks, bug, tests

#726 use ordered dicts for example instances
  examples/Examples.jl
Labels: examples
