Repository jump-dev/Hypatia.jl, pull requests merged in 2021-07, with the labels that each got.

#745 fix ambiguity on nightly
  test/nativeinstances.jl
Labels: tests

#746 prepare experiments using spectral function cones
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  examples/Examples.jl
  examples/centralpolymat/JuMP.jl
  examples/centralpolymat/JuMP_benchmark.jl
  examples/classicalquantum/JuMP.jl
  examples/classicalquantum/JuMP_benchmark.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_benchmark.jl
  examples/covarianceest/JuMP_test.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/experimentdesign/JuMP_benchmark.jl
  examples/experimentdesign/JuMP_test.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_benchmark.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/spectral_functions_JuMP.jl
  test/runexamplestests.jl
Labels: benchmarks, examples

#747 add NegPower and NegSqrt separable spectral functions, remove Inv
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  docs/src/api/cones.md
  examples/centralpolymat/JuMP_benchmark.jl
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP_benchmark.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_benchmark.jl
  examples/covarianceest/JuMP_test.jl
  examples/experimentdesign/JuMP_benchmark.jl
  examples/experimentdesign/JuMP_test.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_benchmark.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/spectral_functions_JuMP.jl
  src/Cones/epipersepspectral/sepspectralfun.jl
  test/nativeinstances.jl
  test/runconetests.jl
Labels: interface, tests

#749 fix analyze formulation aggregation
  benchmarks/natvsext/analyze.jl
  examples/spectral_functions_JuMP.jl
Labels: benchmarks, examples

#750 add explicit inverse Hessian for powermean
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  test/cone.jl
Labels: numerics, speed
