Repository jump-dev/Hypatia.jl, pull requests merged in 2021-11, with the labels that each got.

#772 reimplement spectral norm cone using SVD-based oracles
  src/Cones/arrayutilities.jl
  src/Cones/epinormspectral.jl
  src/Cones/matrixepipersquare.jl
Labels: speed, cleanup, memory, numerics

#774 reimplement infinity norm cone and improve spectral norm cone oracles
  examples/matrixregression/JuMP_test.jl
  src/Cones/arrayutilities.jl
  src/Cones/epinorminf.jl
  src/Cones/epinormspectral.jl
  src/Cones/matrixepipersquare.jl
  test/cone.jl
  test/runconetests.jl
Labels: speed, cleanup, numerics

#775 add some more oracle tests at the initial point
  src/Cones/epinormspectral.jl
  test/cone.jl
Labels: tests

#776 speed up feas checks for spectral norm cone using fast norm bounds
  src/Cones/epinormspectral.jl
Labels: speed, memory

#777 add symmetric/hermitian spectral norm cone
  docs/src/api/cones.md
  docs/src/api/hypatia.md
  examples/matrixcompletion/JuMP.jl
  examples/matrixcompletion/JuMP_benchmark.jl
  examples/matrixcompletion/JuMP_test.jl
  examples/matrixregression/JuMP.jl
  examples/matrixregression/native.jl
  src/Cones/Cones.jl
  src/Cones/arrayutilities.jl
  src/Cones/epinormspectral.jl
  src/Cones/epinormspectraltri.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epitrrelentropytri.jl
  src/MathOptInterface/cones.jl
  test/cone.jl
  test/moicones.jl
  test/nativeinstances.jl
  test/nativesets.jl
  test/runconetests.jl
Labels: interface, tests, examples, benchmarks

#778 speed up feasibility checks for spectral norm cones
  src/Cones/epinormspectral.jl
  src/Cones/epinormspectraltri.jl
Labels: speed, memory

#780 do examples tests in separate CI run with separate Project file
  .github/workflows/DocCleanup.yml
  .github/workflows/Documentation.yml
  .github/workflows/Examples.yml
  .gitignore
  Project.toml
  examples/Examples.jl
  examples/JuMP_utils.jl
  examples/Project.toml
  examples/benchmark_utils.jl
  examples/model_utils.jl
  examples/native_utils.jl
  examples/runexamplestests.jl
  test/runtests.jl
Labels: cleanup, tests, examples, dependencies

#782 remove some test deps
  Project.toml
  test/runnativetests.jl
Labels: tests, dependencies

#783 improve/simplify MOI wrapper
  src/MathOptInterface/cones.jl
  src/MathOptInterface/wrapper.jl
  src/Models/Models.jl
  src/Solvers/Solvers.jl
  test/moi.jl
  test/runmoitests.jl
Labels: MOI, interface, tests

#784 Fix failing tests in MOI wrapper
  src/MathOptInterface/wrapper.jl
  test/runmoitests.jl
Labels: MOI, cleanup
