Repository jump-dev/Hypatia.jl, pull requests merged in 2021-10, with the labels that each got.

#755 simplify inv hess oracles for sepspectral cone
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
Labels: speed, numerics

#757 cleanup rootdet/geomean
  src/Cones/hypogeomean.jl
  src/Cones/hyporootdettri.jl
Labels: cleanup, numerics

#759 add some complex model utils
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  examples/centralpolymat/JuMP.jl
  examples/classicalquantum/JuMP.jl
  examples/classicalquantum/JuMP_benchmark.jl
  examples/classicalquantum/JuMP_test.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_benchmark.jl
  examples/covarianceest/JuMP_test.jl
  examples/spectral_functions_JuMP.jl
Labels: cleanup, examples, benchmarks

#764 rename neggeom to negrtdet; adjust bench sizes
  benchmarks/natvsext/run.jl
  examples/centralpolymat/JuMP_benchmark.jl
  examples/centralpolymat/JuMP_test.jl
  examples/covarianceest/JuMP_test.jl
  examples/experimentdesign/JuMP_benchmark.jl
  examples/experimentdesign/JuMP_test.jl
  examples/nonparametricdistr/JuMP_benchmark.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/spectral_functions_JuMP.jl
Labels: cleanup, benchmarks

#763 DNMY: update benchmark script for wsos examples
  benchmarks/natvsext/README.md
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  examples/polynorm/JuMP_benchmark.jl
Labels: info, benchmarks

#765 decrease memory overhead in model construction for expdesign
  examples/experimentdesign/JuMP.jl
Labels: memory, examples

#770 update stepper benchmarking instructions
  benchmarks/natvsext/README.md
  benchmarks/stepper/README.md
  benchmarks/stepper/analyze.jl
Labels: info, benchmarks

#771 improve spectral cone oracles, especially inv hess
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/epipersepspectral/vectorcsqr.jl
Labels: speed, cleanup, numerics
