Repository jump-dev/Hypatia.jl, pull requests merged in 2021-06, with the labels that each got.

#727 WIP: allow a more SY-like predorcent stepper
  benchmarks/stepper/run.jl
  src/Cones/Cones.jl
  src/Cones/epipersepspectral/matrixcsqr.jl
  src/Cones/nonnegative.jl
  src/Solvers/search.jl
  src/Solvers/steppers/combined.jl
  src/Solvers/steppers/predorcent.jl
  test/cone.jl
  test/runnativetests.jl
Labels: interface, numerics, speed, tests

#728 minor cleanup of generalized power cone
  src/Cones/generalizedpower.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypopowermean.jl
  src/Solvers/search.jl
Labels: cleanup

#729 cleanup dense linear algebra and fix nondeterministic traces due to hessian factorization switches
  examples/maxvolume/native.jl
  examples/polymin/native_test.jl
  src/Cones/Cones.jl
  src/Cones/doublynonnegativetri.jl
  src/Cones/epinormspectral.jl
  src/Cones/epitrrelentropytri.jl
  src/Cones/generalizedpower.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hypopowermean.jl
  src/Cones/hyporootdettri.jl
  src/Cones/linmatrixineq.jl
  src/Cones/matrixepipersquare.jl
  src/Cones/possemideftri.jl
  src/Cones/possemideftrisparse/denseimpl.jl
  src/Cones/possemideftrisparse/possemideftrisparse.jl
  src/Cones/wsosinterpepinormeucl.jl
  src/Cones/wsosinterpepinormone.jl
  src/Cones/wsosinterpnonnegative.jl
  src/Cones/wsosinterppossemideftri.jl
  src/Solvers/Solvers.jl
  src/Solvers/systemsolvers/common.jl
  src/Solvers/systemsolvers/naive.jl
  src/Solvers/systemsolvers/naiveelim.jl
  src/Solvers/systemsolvers/qrchol.jl
  src/Solvers/systemsolvers/symindef.jl
  src/linearalgebra/dense.jl
Labels: cleanup, interface, memory, numerics, speed

#730 add automated extended formulations for separable spectral cone examples
  examples/Examples.jl
  examples/classicalquantum/JuMP.jl
  examples/classicalquantum/JuMP_test.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_test.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/discretemaxlikelihood/JuMP_test.jl
  examples/entanglementassisted/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/experimentdesign/JuMP_test.jl
  examples/extendedforms_JuMP.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_test.jl
  src/Cones/Cones.jl
  src/Solvers/systemsolvers/qrchol.jl
Labels: examples, tests

#731 add more spectral cone example formulations, refactor extended formulations
  examples/Examples.jl
  examples/centralpolymat/JuMP.jl
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP.jl
  examples/classicalquantum/JuMP_test.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_test.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/discretemaxlikelihood/JuMP_test.jl
  examples/experimentdesign/JuMP.jl
  examples/experimentdesign/JuMP_test.jl
  examples/extendedforms_JuMP.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/spectral_EFs_JuMP.jl
  test/runexamplestests.jl
Labels: examples, tests

#732 add example tests and some dual formulations for spectral cones
  docs/src/examples.md
  examples/centralpolymat/JuMP.jl
  examples/centralpolymat/JuMP_test.jl
  examples/contraction/JuMP.jl
  examples/convexityparameter/JuMP.jl
  examples/covarianceest/JuMP.jl
  examples/covarianceest/JuMP_test.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/experimentdesign/JuMP_test.jl
  examples/matrixcompletion/native.jl
  examples/matrixcompletion/native_test.jl
  examples/matrixregression/JuMP.jl
  examples/matrixregression/native.jl
  examples/maxvolume/native.jl
  examples/maxvolume/native_test.jl
  examples/nonparametricdistr/JuMP.jl
  examples/nonparametricdistr/JuMP_test.jl
  examples/normconepoly/JuMP.jl
  examples/polymin/JuMP.jl
  examples/polymin/native.jl
  examples/shapeconregr/JuMP.jl
  examples/signomialmin/JuMP.jl
  examples/sparsepca/native.jl
  examples/spectral_EFs_JuMP.jl
  test/nativeinstances.jl
Labels: cleanup, examples, tests

#733 update steppers to run in benchmarks
  benchmarks/stepper/run.jl
  src/Solvers/steppers/predorcent.jl
  test/runnativetests.jl
Labels: benchmarks

#734 make sep spec tests more robust and add some instances
  examples/centralpolymat/JuMP.jl
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP.jl
  examples/covarianceest/JuMP.jl
  examples/discretemaxlikelihood/JuMP.jl
  examples/experimentdesign/JuMP.jl
  examples/nonparametricdistr/JuMP.jl
  examples/spectral_EFs_JuMP.jl
  test/nativeinstances.jl
Labels: examples, tests

#735 fix qr deprecation warning
  examples/Examples.jl
  examples/common.jl
  examples/densityest/JuMP.jl
  examples/densityest/native.jl
  examples/matrixregression/JuMP.jl
  examples/shapeconregr/JuMP.jl
  src/PolyUtils/PolyUtils.jl
  src/PolyUtils/complex.jl
  src/PolyUtils/realinterp.jl
  src/Solvers/process.jl
  src/linearalgebra/dense.jl
Labels: dependencies

#736 update scripts to run all extenders
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
  examples/doptimaldesign/JuMP_benchmark.jl
  examples/matrixcompletion/JuMP_benchmark.jl
Labels: benchmarks

#737 clean up qrchol LHS setup and use a better heuristic for sqrt hess oracles
  src/Cones/Cones.jl
  src/Cones/epinormeucl.jl
  src/Cones/epinorminf.jl
  src/Cones/epipersepspectral/epipersepspectral.jl
  src/Cones/epipersquare.jl
  src/Cones/epirelentropy.jl
  src/Cones/hypogeomean.jl
  src/Cones/hypoperlog.jl
  src/Cones/hypoperlogdettri.jl
  src/Cones/hyporootdettri.jl
  src/Cones/nonnegative.jl
  src/Cones/possemideftri.jl
  src/Cones/wsosinterpepinormone.jl
  src/Solvers/systemsolvers/qrchol.jl
  test/cone.jl
  test/nativeinstances.jl
  test/nativesets.jl
Labels: cleanup, numerics, speed, tests

#738 update instances hitting time limits in benchmarks
  examples/centralpolymat/JuMP_test.jl
  examples/classicalquantum/JuMP_test.jl
  examples/covarianceest/JuMP_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/nearestpolymat/JuMP_test.jl
  examples/polymin/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
Labels: benchmarks

#739 solve larger doptimaldesign benchmark instances
  examples/doptimaldesign/JuMP.jl
  examples/doptimaldesign/JuMP_benchmark.jl
Labels: benchmarks, examples

#740 minor natvsext script fixes
  benchmarks/natvsext/analyze.jl
  benchmarks/natvsext/run.jl
Labels: benchmarks

#741 loosen tols if possible for instances where no stepper converges and updates to analysis
  benchmarks/stepper/analyze.jl
  examples/centralpolymat/JuMP_test.jl
  examples/densityest/JuMP_test.jl
  examples/lyapunovstability/JuMP_test.jl
  examples/maxvolume/JuMP_test.jl
  examples/maxvolume/native_test.jl
  examples/normconepoly/JuMP_test.jl
  examples/semidefinitepoly/JuMP_test.jl
  examples/shapeconregr/JuMP_test.jl
  examples/signomialmin/JuMP_test.jl
Labels: benchmarks, examples

#742 change the way caps are calculate in stepper analysis script
  benchmarks/stepper/analyze.jl
Labels: benchmarks

#743 fix proximity aggregation
  benchmarks/stepper/run.jl
  src/Cones/Cones.jl
  src/Cones/nonnegative.jl
  src/Solvers/Solvers.jl
  src/Solvers/search.jl
  src/Solvers/steppers/predorcent.jl
  test/cone.jl
  test/runnativetests.jl
Labels: cleanup, numerics, speed

#744 fix bug in predorcent phase selection
  examples/doptimaldesign/JuMP_test.jl
  src/Solvers/search.jl
Labels: speed
